.admin-contestant-li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.legend-li {
  list-style: none;
}
.legend-ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.category-column-label {
  /* margin: 2.7px;
  text-align: center; */
  display: block;
}
.admin-contestant-name {
  width: 200px;
}
.admin-contestant-categories {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 90%;
}
.category-column-label {
  width: 35px;
  text-align: center
}
.admin-contestant-checkboxes {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 90%;
}
input[type=checkbox] {
  /* margin: 0px 15px 0px 15px; */
  width: 35px;
}